<h1>Edit My Account</h1>

<% semantic_form_for @user, :url => account_path do |f| %>
  <%= f.semantic_errors %>
  <%= render :partial => "form", :object => f %>
  <% f.buttons do %>
    <%= f.submit "Update" %>
    <br/><%= link_to "My Profile", account_path %>
  <% end %>
<% end %>


